.Logo {
    text-decoration: none;
    font-weight: 800;
    color: inherit;
    position: relative;
    font-size: 22px;
}


.Logo:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    bottom: 0;
    background-color: var(--accent-blue);
    margin-left: 3px;
}